{% extends 'layout.html'%}

{% block content%}
 <div class="container" >
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 photoProfil">
      <img  src="https://akbcenter.by/assets/images/default-avatar.png" width="200" height="222">
    </div>
        {% for info in information %}
            {% for task in tasks %}

                    {% include 'string.html' %}

            {% endfor %}

        {% endfor %}

      <button onclick="window.location.href='dogovor.html'">Добавить договор</button>
    <div class="documents">
     <table border="2" width="100%" cellpadding="5" rules="rows" id ="zen">
         <tr >
                <th>Номер</th>
                <th>Имя_Агента</th>
                <th>Вид_страхования</th>
                <th>Сумма_Страхования</th>
                <th>Дата заключения договора</th>
                <th>Окончание договора{{ifnodogovor1}}</th>
           </tr>
        <tbody>
         {% for infodoc in ifnodogovor %}

                 {% include 'table.html' %}
        {% endfor %}

        </table>



    </div>
  </div>
</div>

  {% endblock %}