{% extends 'layout.html'%}

{% block content%}
<div class="container">
<form method="post">
        {% csrf_token %}

    {% for info in infodogovor %}
        {% for check in check_pay %}
            {%if check.approved == True %}
                <div>
                    <label for="name">Номер заявки:  </label>
                    <input type="text" name="number_application" value="{{check.id}}"  required>
                </div>
                <div>
                    <label for="surname">Сумма выплаты: </label>
                    <input type="text" name="sum_pay" value="{{info.sum_insurance}}"  required>
                </div>
                <div>
                    <label for="patronymic">Банковские реквизиты: </label>
                    <input type="text" name="bank_details" required>
                </div>
                <button type="submit" name="payment">Выполнить</button>
            {%else%}
                <p>нет выплаты</p>
            {%endif%}
        {% endfor %}
    {% endfor %}
  </form>
</div>
{% endblock %}