{% block content %}

    <div class="col-8 col-sm-8 col-md-4 col-lg-4 col-xl-4 info">
      <table class="ret">
        <tr class="success">
            <td width="200px"><font color="Black">Фамилия: {{inf.surname}} </font></td>
        </tr>
        <tr class="success">
            <td width="200px"><font color="Black">Имя: {{inf.name}}</font></td>
        </tr>
        <tr class="success">
            <td width="200px"><font color="Black">Отчество: {{inf.patronymic}}</font></td>
        </tr>
          <tr class="success">
            <td width="200px"><font color="Black">Должность: {{info.position}}</font></td>
        </tr>
        <tr>
            <td>
                <button onclick="window.location.href='edit_employeer.html/{{inf.id}}'">Изменить</button>
            </td>
        </tr>

    </table>
    </div>

{% endblock %}