{% block content %}

            <tr>
                <td>{{infodoc.id}}
                <td>{{infodoc.employeer}}
                <td>{{infodoc.type_view}}
                <td>{{infodoc.sum_insurance}}
                <td>{{infodoc.time|date:"d.m.Y"}}
                <td>{{infodoc.type_view.сontract_time|date:"d.m.Y"}}
                <td><a  href="application_for_payment.html/{{infodoc.id}}"><button >Заявление на выплату</button></a>
                <td><a  href="payment.html/{{infodoc.id}}"><button >Получить выплату</button></a>
                <td><a  href="delete_dogovor.html/{{infodoc.id}}"><button >Удалить</button></a>


{% endblock %}

